body {
    margin: 0;
    padding: 0;
    background-color: rgba(28, 84, 121, 0.514);
}

section.one {
    margin-top: -30px;
}

#check {
    display: none;
}

label #btn,
#cencel {
    position: absolute;
}

label #btn {
    font-size: 30px;
    top: 50px;
    left: 30px;
    color: rgb(175, 44, 44);
    cursor: pointer;
    transition: .5s;
}

label #cencel {
    font-size: 40px;
    left: -250px;
    top: 20px;
    cursor: pointer;
    transition: .5s;
    color: blue;
}

label #cencel:hover {
    transform: rotate(180deg);
}

label #btn:hover {
    transform: rotate(180deg);
}

#check:checked~.sidebar_overall {
    left: 250px;
}

#check:checked~label #btn {
    left: -300px;
}

#check:checked~label #cencel {
    left: 250px;

}

header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid aqua;
    border-radius: 10px;
    color: rgb(87, 58, 80);
    background-color: cadetblue;
    transition: .5s;
}

header:hover {
    background-color: aqua;
    color: orange;
}

.sidebar_overall {
    padding: 20px;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: rgb(40, 44, 41);
    font-size: 20px;
    margin-left: -250px;
    transition: .5s;
    margin-top: -100px;
}



li,
a {
    padding-top: 10px;
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
    margin-top: 20px;
    color: aliceblue;
    transition: .5s;

}

li a {
    border-bottom: 1px solid aqua;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: -20px
}

li:hover a {
    padding: 10px 20px;
    font-size: 25px;
    background-color: aqua;
    color: orange;
    border-radius: 20px;

}


/* akane cover part class two */
.two {

    justify-content: center;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 10px rgb(145, 245, 252);
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: linear-gradient(rgb(182, 162, 162), rgba(255, 0, 0, 0.678));
    border-radius: 10px;
    overflow: hidden;
}

.profile {
    padding: 20px;
    padding-top: 30px;

}



.profile h1 {

    color: rgb(13, 219, 255);
    font-size: 40px;
    transition: .5s;

}

.profile h1:hover {
    color: rgb(0, 153, 255);
    transform: scale(1.1);
}

.profile h2 {
    color: rgb(0, 255, 170);
    font-size: 30px;
    padding-bottom: 30px;
    margin-top: -15px;

}

.profile h3 {
    margin-top: 20px;
    color: rgb(255, 0, 149);
    font-size: 26px;

}

.profile a {
    font-size: 26px;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    margin-left: -5px;
    color: orange;
}

.profile a:hover {
    background-color: royalblue;
    color: aqua;

}

.first_photo img {
    margin-bottom: -4px;
    transition: .5s;
}

.first_photo img:hover {
    transform: scale(1.1);
}

/* only device width 700px */
@media only screen and (max-width:700px) {
    .sidebar_overall {
        margin-top: 20px;
    }

    .two {
        margin-top: 0%;
        margin-left: 0px;
        margin-right: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .profile {
        margin-left: 20px;
        margin-top: 100px
    }

    .first_photo {
        margin-top: -40%;
        margin-left: 30%;

    }

    .first_photo img {
        width: 300px;
        height: 300px;
        margin-bottom: -15px;
    }
}